<div class="row">
  <div class="col-lg-6">
    <%= form_for(@standing, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <% if @standing.errors.any? %>
        <div class="alert alert-danger" id="error_explanation">
          <ul class="list-unstyled">
            <% @standing.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :initials, 'Your initials:', class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.text_field :initials, maxlength: 3, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :score, 'Your score:', class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.number_field :score, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :image_URL, 'Photo of your score:', class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.file_field :file, class: 'form-control' %>
          <p class="help-block">
            To prove you are as great as you claim ;)
          </p>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :location_id, 'Where did you play?', class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.select :location_id, Location.all.map {|location| [location.description, location.id]}, {}, {class: 'form-control'} %>
        </div>
      </div>
      <hr>
      <h4>Optional</h4>
      <%= f.fields_for :player do |ff| %>
        <div class="form-group">
          <%= ff.label :email, 'Your email address:', class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= ff.text_field :email, class: 'form-control', placeholder: 'you@example.com' %>
          </div>
        </div>
        <div class="form-group">
          <%= ff.label :twitter, class: 'col-md-4 control-label' do %>
            <i class="fa fa-twitter"></i>
            Twitter:
          <% end %>
          <div class="col-md-8">
            <%= ff.text_field :twitter, class: 'form-control', placeholder: '@YourTwitterName' %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
          <%= f.submit 'Save High Score', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
