
<%= link_to 'Add your score here!', new_standing_path, :class=> "btn btn-primary btn-lg" %>

<h1>Leaderboard</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th> <%= sortable "initials" %></th>
      <th> <%= sortable "score" %></th>
      <th> Photo </th>
      <th> <%= sortable "location_id", "Location" %></th>

    </tr>
  </thead>

  <tbody>
    <% @standings.each do |standing| %>
      <tr>
        <td><%= standing.initials %></td>
        <td><%= standing.score %></td>
        <td>
          <img src="http://www.refugezero.com/src/image/screens/pacman-screen1.jpg" width="100" height="100">
        </td>
        <td>
          <% if standing.location %>
            <%= link_to standing.location.name, locations_path %>
          <% else %>
            none
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
