<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          High Score
        </h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped standings-table">
          <thead>
            <tr>
              <th>Rank</th>
              <th class="text-center">Score</th>
              <th class="text-right">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @standing.rank.ordinalize %></td>
              <td class="text-center"><%= @standing.score %></td>
              <td class="text-right">
                <% if @standing.player && @standing.player.twitter.present? %>
                  <%= link_to @standing.player.twitter_url do %>
                    <i class="fa fa-twitter"></i><%= @standing.initials %>
                  <% end %>
                <% else %>
                  <%= @standing.initials %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          Additional Info
        </h2>
      </div>
      <div class="panel-body">
        <% if location=@standing.location %>
          <p>
            <i class="fa fa-map-marker"></i>
            <strong><%= location.name %></strong><br>
            <%= location.street_address %><br>
            <%= location.city %>, <%= location.state %>
            <%= location.postal_code %>
          </p>
        <% end %>
        <p>
          Score was submitted on
          <%= @standing.created_at.to_formatted_s(:date) %>
          at <%= @standing.created_at.to_formatted_s(:time) %>.
        </p>
      </div>
    </div>
  </div>
</div>
