<p id="notice"><%= notice %></p>

<p>
  <strong>Initials:</strong>
  <%= @standing.initials %>
</p>

<p>
  <strong>Score:</strong>
  <%= @standing.score %>
</p>

<% if player=@standing.player %>
  <p>
    <strong>Player:</strong>
    <%= player.email %>
  </p>
<% end %>

<% if location=@standing.location %>
  <p>
    <strong>Location:</strong>
    <%= location.description %>
  </p>
<% end %>

<%= link_to 'Edit', edit_standing_path(@standing) %> |
<%= link_to 'Back', standings_path %>
