<div class="row">
  <div class="col-md-14">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <i class="fa fa-trophy"></i>
          WIN, WIN, WIN!
        </h2>
      </div>
      <div class="panel-body">
        <center>
          TWO WINNERS will be crowned May 1st: the player with the highest score; and a random player chosen from ALL the scores.
          <br>Submitting more scores increases your chances to WIN! Winners will get crazy awesome trophies,
          <br>and the glory of being crowned the
          <br><b>Pac-Man King(s)/Queen(s) of Lexington!</b>
        </center>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-10 text-left">
            <%= link_to new_standing_path do %>
              <i class="glyphicon glyphicon-plus"></i>
              Submit your score now!
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <i class="glyphicon glyphicon-star"></i>
          Top 10 High Scores
        </h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped standings-table">
          <thead>
            <tr>
              <th>Rank</th>
              <th class="text-center">Score</th>
              <th class="text-right">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @standings.each_with_index do |standing, index| %>
              <tr class="standing-row row-<%= index + 1 %>">
                <td>
                  <%= link_to standing.rank.ordinalize, standing %>
                </td>
                <td class="text-center">
                  <%= link_to standing.score, standing %>
                </td>
                <td class="text-right">
                  <%= link_to standing.initials, standing %>
                </td>
                <td>
                  <% if location=standing.location %>
                    <%= link_to locations_path(:anchor => location.slug) do %>
                      <i class="fa fa-map-marker" title="<%= location.name %>" data-toggle="tooltip"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-7 text-left">
            <%= link_to new_standing_path do %>
              <i class="glyphicon glyphicon-plus"></i>
              Submit your score
            <% end %>
          </div>
          <div class="col-xs-5 text-right">
            <%= link_to standings_path do %>
              <i class="fa fa-align-justify"></i>
              All scores
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <i class="fa fa-map-marker"></i>
          Where to Play
        </h2>
      </div>
      <div class="panel-body">
        <p>
          <iframe width="100%" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msid=206171452338292581564.0004f56ecedef9192b07a&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=38.028893,-84.488297&amp;spn=0.118992,0.205994&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="https://www.google.com/maps/ms?msid=206171452338292581564.0004f56ecedef9192b07a&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=38.028893,-84.488297&amp;spn=0.118992,0.205994&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">Known Pac-Man and Ms. Pac-Man machine locations in Lexington, KY</a> in a larger map</small>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <%= link_to locations_path do %>
              <i class="fa fa-globe"></i>
              View all arcade locations
            <% end %>
          </div>
          <div class="col-xs-6 text-right">
            <%= mail_to "ewarner@lexpublib.org", subject: "You're missing a Pac-Man or Ms. Pac-Man machine!" do %>
              <i class="glyphicon glyphicon-question-sign"></i>
              Are we missing a location?
            <% end %>
          </div>
        </div>
  </div>
</div>
