<%= link_to 'Add your score here!', new_standing_path, class: "btn btn-primary btn-lg" %>
<br>
<br>
<h1>Top 10 High Scores</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Initials</th>
      <th>Score</th>
      <th>Player</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @standings.each do |standing| %>
      <tr>
        <td><%= standing.initials %></td>
        <td><%= standing.score %></td>
        <td>
          <% if player=standing.player %>
            <%= player.email %>
          <% end %>
        </td>
        <td>
          <% if location=standing.location %>
            <%= location.description %>
          <% else %>
            none
          <% end %>
        </td>
        <td><%= link_to 'Show', standing %></td>
        <td><%= link_to 'Edit', edit_standing_path(standing) %></td>
        <td><%= link_to 'Destroy', standings_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'View all scores', standings_path %>
<br>
<br>
<br>
<h2>Find a Pac-Man or Ms. Pac-Man machine in Lexington here:</h2>
<h3>[INSERT MAP HERE]</h3>
<%= link_to 'View all locations', locations_path %>

<br>
<br>
<br>
<%= link_to 'About', about_path, class: "btn btn-primary btn-lg" %>
