<center>
    <img src="images/mastimagehead.png">
</center>

<hr>

<div>
  <h2>RULES:</h2>
    Check out <%= link_to 'our list', locations_path %> of known Pac-Man and Ms. Pac-Man arcade cabinets in Lexington. Head out and play at one of these machines (either Pac-Man or Ms. Pac-Man)! After each game, whip out a camera and snap a photo of the screen showing your high score. Once you're satisfied with that awesome score, go <%= link_to 'upload', new_standing_path %> it to our <%= link_to 'leaderboard', standings_path %>! Enter in your initials or other alias (up to three letters), and choose the location where you played from the drop-down menu. Optionally, you can also enter in your email and/or Twitter handle. Neither of these are required to play, but to be eligible to win, you must supply one or the other (don't worry, we won't do anything with either...UNLESS we use it to contact you as the winner!). Click submit, and you'll secure a spot of eternal fame on our tournament <%= link_to 'leaderboard', standings_path %>. Then, make sure to keep up with your standing by checking in on the <%= link_to 'leaderboard', standings_path %> from time to time, and come back as often as you like to <%= link_to 'submit', new_standing_path %> more high scores!
</div>

<div>
  <h3>WINNERS:</h3>
    This tournament will have two winners:<br>
      <b>+</b> the first will be the user with the highest score as of 11:59pm on April 30th<br>
      <b>+</b> the second will be a user chosen at random from all participants <br>
    Winners will be contacted via email or Twitter, and will be announced on the Lexington Public Library’s social media platforms. Winners will each receive a fabulous* prize, and the glory of being known as the Pac-Man King(s)/Queen(s) of Lexington!
    <br><br>
    *fabulous is a relative term
</div>

<div>
  <h2>HAVE FUN AND GOOD LUCK!</h2>
</div>

<hr>

<div>
  <h3>FAQ:</h3>
    <b>Pac-Man and Ms. Pac-Man are different games – does it matter which one I play?</b><br>
    You can play either! Apparently Ms. Pac-Man is a little more difficult, but for this tournament, we are not differentiating between them. Just think of it as a personal challenge.
      <br><br>
    <b>Do I have to play at one of these machines on the list?</b><br>
    In order to count for the contest, it has to be a physical machine located in Lexington. If you know of a machine we don’t have, please email Eli at <a href="mailto:ewarner@lexpublib.org">ewarner@lexpublib.org</a>, who will add the machine to the list. We heartily encourage playing online, at home, or in cities other than Lexington for practice or just for fun – but it won’t count for the official contest.
      <br><br>
    <b>Can my kids play too?</b><br>
    Absolutely. Most of the machines on our list are at family-friendly locations – only a couple are at bars, or places otherwise unsuitable for children or those under 21, and these will be clearly marked on the list as such. This is an all-ages competition. Each user must submit an individual photo/score/alias.
      <br><br>
    <b>How much do the games cost?</b><br>
    That’s really up to the location with the machine. Most machines will cost a quarter or two per game (note – the machine loacted at the Lexington Public Library is free - for all others, make sure to bring quarters!). Some locations will require business patronage in order to play. We fully encourage supporting the business of the location where you are playing (most locations are bars, restaurants, laundromats, etc). The machine list will include contact information for the business location – please feel free to contact them with questions about the machine.
      <br><br>
    <b>Do the businesses with machines on the list know about the tournament?</b><br>
    Some do, and some do not yet (though I bet they will by the end of April!). Please be respectful when visiting a business to play their machine. If it seems like they require buying something in order to play, please be cool and do so without argument. In addition to having a super fun time playing Pac-Man and Ms. Pac-Man, this tournament is about supporting local businesses!
      <br><br>
    <b>Can I tweet/vine/tumblr/instagram about the tournament in general?</b><br>
    Yes, please do! Help us spread the word! The official hashtag is <a href="https://twitter.com/search?q=%23lexpacman14&src=typd&f=realtime">#lexpacman14</a>. We also have designated <a href="https://twitter.com/lexplaypacman">Twitter</a> and <a href="http://instagram.com/lexplaypacman">Instagram</a> accounts for the tournament - @lexplaypacman.
      <br><br>
    <b>I have another question or comment that is not addressed on this list?</b><br>
    Email Eli at <a href="mailto:ewarner@lexpublib.org">ewarner@lexpublib.org</a>
</div>

<hr>

<div>
  <h2>WHO IS BEHIND THIS?</h2>
    <p>
      Lex Play Pac-Man was an idea that formed in the mind of Lexington Public Library Adult Services Librarian Eli Riviere Warner, and chased her like Blinky until she allowed it to consume her. The tournament is a part of <a href="http://www.lexpublib.org">Lexington Public Library's</a> annual <a href="http://www.onebookonebluegrass.com">One Book One Bluegrass</a> celebration - a community reading project celebrated concurrently with several other surrounding library systems across the Bluegrass. This year we're reading <i>Ready Player One</i> by Ernest Cline - a crazy awesome book combining gaming, 80's pop culture references galore, and an epic scavenger hunt with a story of friendship, love and the battle between good and evil in the not-so-distant-future. <a href="http://catalog.lexpublib.org/#section=search&term=ready%20player%20one&dbTab=ls2pac">Check it out</a> (or put a copy on hold) today!
    </p>

    <p>
      Eli is a member of Lex Ladies Graceful Coders, a group of young women in Lexington, Kentucky who are learning the ins and outs of programming. These Graceful Ladies are super excited that their first project is the Lex Play Pac-Man website! The club was started by Ashley Greer Wilson, who had a desire to pass on her knowledge of coding to other women; and is spearheaded with fellow programming goddess and teacher, Sarah Vessels. The group is made up of ladies at all stages in the learning process; and meets weekly (usually Tuesday nights around 5, at the <a href="https://maps.google.com/maps?q=154+constitution+lexington&ie=UTF-8&hq=&hnear=0x884244ef0fd72087:0x51a39bc6a1b23d4b,154+Constitution+St,+Lexington,+KY+40507&gl=us&ei=kjc3U9LiIrTTsASR8oDwDQ&sqi=2&ved=0CCgQ8gEwAA">Cirrus Mio HQ</a>) to cover different topics in programming, and to design projects and websites like the very one you are viewing right now.
    </p>

<hr>

<center>
  <img src="/images/logos.png">
</center>
