<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :last_ip_address %><br>
    <%= f.text_field :last_ip_address %>
  </div>
  <div class="field">
    <%= f.label :is_banned %><br>
    <%= f.check_box :is_banned %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
