<ul>
  <% @locations.each do |location| %>
    <li>
      <%= location.name %>
      -
      <%= location.city %>
      <%= location.postal_code %>
      <br>
      (<%= location.latitude %>,
      <%= location.longitude %>)
    </li>
  <% end %>
</ul>
