<div class="page-header">
  <h1>Arcade Locations</h1>
</div>

<a href="#" onclick="$('.collapse').each(function(index) {$(this).collapse('toggle');});"> Expand all</a>

<div class="panel-group" id="accordion">
  <% @locations.each do |location| %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
        href="#<%= location.slug %>">
        <%= location.name %>
      </a>
    </h4>
  </div>
  <div  id="<%= location.slug %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <a href= "<%= location.website %>"><%= location.website %></a>

          <p>
            <%= location.street_address %>
            <br>
            <%= location.city %>, <%= location.state %> <%= location.postal_code %>
          </p>

          <p>
            <%= location.phone %>
          </p>

          <p>
            <%= location.hours.to_s.html_safe %>
          </p>

          <p>
            <% if location.kid_friendly %>
            Kid-friendly!
            <% else %>
            Not kid-friendly - must be 21+
            <% end %>
          </p>
        </div>
        <div class="col-sm-6">
          <a href="https://maps.google.com/maps?z=15&q=<%= location.latitude %>+<%= location.longitude %>">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= location.latitude %>,<%= location.longitude %>&markers=color:red|<%= location.latitude %>,<%= location.longitude %>&zoom=15&size=250x250&sensor=false&key=AIzaSyDIxX5aWsdZyTsowPE-iD7HqwQ3LjeX3OQ">
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <% end %>

 <script type="text/JavaScript">
    $(document).ready(function() {
      var pathname = window.location.pathname;
      var  index = pathname.indexOf("#");
      var end = pathname.length-1;
      if (index > 0 && index != end) {
        var slug = pathname.substring(index, end);
        $(slug).collapse("open");
      };
    });
    </script>
